:host {
  height: 100vh;
  background: white;
}

.slider {
  height: 75vh;
  transition: opacity 0.3s;

  &-lottie {
    height: 50vh
  }
}

.container {
  height: 15vh;
  margin: auto 16px auto 16px;
}

.pagination {

  display: flex;
  justify-content: center;
  margin-bottom: 75px;

  &-item {
    border: none;
    height: 28px;
    margin: auto 8px;
    transition: width 0.3s;
  }

  &-item_default {
    width: 28px;
    background: #EAEBF0;
    border-radius: 50%;
  }

  &-item_selected {
    width: 80px;
    border-radius: 20px;
    background: #00A9E2;
  }
}

.btns {
  margin: auto 120px;
}