<ng-container *ngIf="splashShow; else showCamera">
    <app-splash-screen *ngIf="splashShow" (hideSplash)="splashAction()"></app-splash-screen>
</ng-container>

<ng-template #showCamera>
    <div class="container">
        <div class="logo">
            <img class="logo-obj" [src]="'/assets/images/logo.png'">
        </div>

        <div class="camera">
            <div class="camera_frame">
                <div (click)="cameraEditor = null" class="camera-content">
                    <section>
                        <video #video id="video" autoplay></video>
                        <canvas #canvas id="canvas" width="640" height="480"></canvas>
                    </section>
                </div>

                <div class="camera-editor">
                    <div class="camera-editor-item">
                        <img (click)="showCameraEditor('time')" class="camera-editor-item-icon" [src]="'/assets/images/circletime.png'">
                        <div (click)="cameraEditor = null" *ngIf="cameraEditor === 'time' " class="camera-editor-variants">
                            <img class="camera-editor-item-icon" [src]="'/assets/images/circlecolor_time.png'">
                            <div class="camera-editor-variants-item"> Time Off </div>
                            <div (click)="setCaptureTimeout(3)" class="camera-editor-variants-item"> 3 sec </div>
                            <div (click)="setCaptureTimeout(5)" class="camera-editor-variants-item"> 5 sec </div>
                        </div>
                    </div>
                    <div class="camera-editor-item">
                        <img class="camera-editor-item-icon" [src]="'/assets/images/crop.png'">
                    </div>
                    <div class="camera-editor-item">
                        <img class="camera-editor-item-icon" [src]="'/assets/images/frames.png'">
                    </div>
                </div>
            </div>
        </div>

        <div class="btns">
            <div class="btns-btn">
                <img *ngIf="!image" class="btns-btn-icon" [src]="'/assets/images/none.png'">
                <img *ngIf="image" class="btns-btn-icon" [src]="image">
                <p class="btns-btn-text">Current</p>
            </div>

            <div class="btns-btn">
                <img class="btns-btn-icon" [src]="'/assets/images/background.png'">
                <p class="btns-btn-text">Background</p>
            </div>

            <div class="btns-btn">
                <img class="btns-btn-icon" [src]="'/assets/images/templates.png'">
                <p class="btns-btn-text">Templates</p>
            </div>

            <div class="btns-btn">
                <img class="btns-btn-icon" [src]="'/assets/images/filter.png'">
                <p class="btns-btn-text">Filter</p>
            </div>
        </div>

        <div (click)="capture()" class="capture_btn">
        </div>
    </div>
</ng-template>