.wrapper {
    background: var(--main-dark);
    min-height: 100vh;
}

.logo {

    height: 170px;
    position: relative;

    &-obj {
        position: absolute;
        height: 120px;
        width: 120px;
        margin: 0;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.camera {
    position: relative;
    margin: auto auto 40px auto;
    height: calc((var(--camera-size) + 44) * var(--pixel-converter));
    width: calc((var(--camera-size) + 44) * var(--pixel-converter));

    &-content {
        position: relative;
        border: 6px solid #EAEBF0;
        border-radius: 40px;
        padding: 22px;
        z-index: 1;

        &-grid {
            height: 100%;
            width: 100%;
        }

        &-grid:before {
            content: "";
            height: 35%;
            width: 95%;
            position: absolute;
            z-index: 0;
            border-top: 1px solid #EAEBF0;
            border-bottom: 1px solid #EAEBF0;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &-grid:after {
            content: "";
            height: 95%;
            width: 35%;
            position: absolute;
            z-index: 0;
            border-left: 1px solid #EAEBF0;
            border-right: 1px solid #EAEBF0;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        &-image {
            border-radius: 40px;
            object-fit: cover; 
        }
    }

    &-content:before {
        content: "";
        left: 120px;
        right: 120px;
        top: -8px;
        height: 99.6%;
        position: absolute;
        border-top: 10px solid var(--main-dark);
        border-bottom: 10px solid var(--main-dark);
        z-index: -1;
    }

    &-content:after {
        content: "";
        left: -7px;
        top: 120px;
        bottom: 120px;
        width: 99.7%;
        position: absolute;
        border-left: 8px solid #27282f;
        border-right: 9px solid #27282f;
        z-index: -1;
    }

    &-image {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 1;       
    }

    &-counter {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

#video {
    background-color: var(--main-dark);
    border-radius: 40px;
    object-fit: cover;
}

#canvas {
    display: none;
}

.btns {

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 250px;

    &-wrapper {
        width: 44%;
        text-align: center;
    }

    &-capture {
        position: relative;
        height: 180px;
        width: 180px;
        background: #00A9E2;
        border-radius: 50%;
        border: none;
    }

    &-capture:active {
        background-color: #EAEBF0;
    }
    
    &-capture::before {
        content: "";
        height: 150px;
        width: 150px;
        position: absolute;
        border: 2px solid white;
        border-radius: 50%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}