<!-- first screen -->
<app-splash-screen *ngIf="splashStartShow" (hideSplash)="hideSplash()" class="splash_screen"></app-splash-screen>

<!-- main screen -->
<div class="wrapper">

    <div class="logo">
        <img class="logo-obj" [src]="'/assets/images/logo.svg'">
    </div>

    <div #camera class="camera">
        <div [ngStyle]=" {'visibility': image ? 'hidden' : 'visible' } " class="camera-content">

            <section [style.filter]=" videoFilter !== '' ? videoFilter : 'none' ">
                <div class="camera-content-grid"></div>
                <video #video id="video" autoplay [height]="cameraSize" [width]="cameraSize"></video>
                <canvas #canvas id="canvas" [height]="cameraSize" [width]="cameraSize"></canvas>
            </section>

        </div>

        <!-- Captured iamge -->
        <div [ngStyle]=" {'visibility': image ? 'visible' : 'hidden' } " class="camera-image">
            <img class="camera-content-image" [src]="image">
        </div>

        <!-- Effect image -->
        <div class="camera-image" [ngStyle]=" {'visibility': effectImage !== '' && !image ? 'visible' : 'hidden' } "
            [style.filter]=" videoFilter !== '' ? videoFilter : 'none' ">
            <img class="camera-content-image" [src]="effectImage">
        </div>

        <!-- Seconds animation -->
        <div class="camera-counter">
            <ng-lottie [options]="lottieOptions">
            </ng-lottie>
        </div>

    </div>

    <app-effects  [ngStyle]=" {'display': image ? 'none' : 'block' } " (selectVirtualBackground)="setVirtualBackground($event)"
        (selectEffect)="setVideoEffect($event)" (selectFilter)="setVideoFilter($event)"
        (deleteAllChanges)="deleteAllChanges()"></app-effects>

    <div class="btns">

        <div *ngIf="image" class="btns-wrapper">
            <button (click)="shareEmailShow=true" class="btn btn_light_border btn_icon">
                <img class="btns-icon" src="/assets/icons/share.svg">
                <span class="subtitle">Share</span>
            </button>
        </div>

        <div *ngIf="!image" class="btns-wrapper">
            <button (click)="captureImage()" class="btns-capture btns-btn">
            </button>
        </div>

        <div *ngIf="image" class="btns-wrapper">
            <button (click)="deleteApproverShow=true" class="btn btn_light_border btn_icon">
                <img class="btns-icon" src="/assets/icons/delete.svg">
                <span class="subtitle">Delete</span>
            </button>
        </div>

    </div>
</div>

<!-- share via email screen -->
<app-share class="splash_screen" @flyInOut *ngIf="shareEmailShow" [image]="image" (drawerAction)="hideShare($event)">
</app-share>

<!-- deleting image screen and sending error screen -->
<app-bottom class="splash_screen" @flyInOut *ngIf="deleteApproverShow" [isImgDeleting]="true"
    (drawerAction)="hideBottomDrawer($event)"></app-bottom>

<!-- final screen, aboot sent to email -->
<app-splash-screen *ngIf="splashResultShow" [shareResult]="shareResult" (hideSplash)="hideSplash()"
    class="splash_screen">
</app-splash-screen>